Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@Alecsanderu
CodecoolGlobal
/
application-process-python-Alecsanderu
Private
10
00
 Code Issues 0 Pull requests 0 Actions Projects 0 Wiki Security Insights Settings
application-process-python-Alecsanderu/.gitignore
@arpadtorzsok arpadtorzsok Initial commit
e766904 yesterday
90 lines (67 sloc)  1.46 KB

.idea/*
__pycache__/*

# Created by https://www.gitignore.io/api/venv,pycharm

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint

### venv ###
# Linux
bin/
lib/
include/

# Window
Include/
Lib/
Scripts/

# Shared
pyvenv.cfg

# virtualenv
.venv
venv/
ENV/

# End of https://www.gitignore.io/api/venv,pycharm
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
